.ingredientItem {
    max-width: 272px;
    border-radius: 32px;
    transition: 0.15s;
    cursor: pointer;
    position: relative;
    composes: mt-6 ml-4 mr-2 from global;
}

.ingredientItem:hover {
    background: #2f2f37;
}

.ingredientItem:active {
    transform: scale(0.95);
}

.ingredientName {
    height: 48px;
    text-align: center;
    composes: text text_type_main-default from global;
}

.ingredientImage {
    width: 240px;
    composes: ml-4 mr-4 from global;
}

.ingredientPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    composes: text text_type_digits-default mt-1 mb-1 from global;
}