.notFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(153deg, #270738 0%, transparent 100%);
}

.notFoundImage {
    composes: mb-10 from global;
    width: 200px;
}

.notFoundHeader {
    composes: mb-10 text text_type_main-large ml-2 from global;
}