.headerLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 32px;
    transition: 0.15s;
    color: #fff;
    composes: mr-2 pl-5 pt-4 pr-5 pb-4 from global;
}

.headerText {
    composes: text text_type_main-default ml-2 from global;
}

.headerLink:hover {
    background: #292934;
}

.headerLink:active {
    background: #2e2e39;
}