.pageMain {
    display: flex;
    justify-content: center;
}

.pageSection {
    composes: mt-30 from global; 
}

.pageHeader {
    text-align: center;
    composes: text text_type_main-medium from global; 
}

.pageSectionForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    composes: mt-6 from global;
}

.pageSectionButton {
    display: flex;
    justify-content: center;
    composes: mt-6 from global;
}

.pageSectionText {
    text-align: center;
    composes: mt-20 text text_type_main-default text_color_inactive from global;
}

.errorMessage {
    text-align: center;
    composes: input__error text_type_main-default from global;
}