.modalWin {
    background: #1C1C21;
    width: 700px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    composes: pt-10 pl-10 pr-10 pb-15 from global;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    composes: text text_type_main-large from global;
}

.modalHeaderNoHeader {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin: 0px;
}

.modalCloseButton {
    cursor: pointer;
}

.modalCloseButton:active {
    transform: scale(0.95);
}