.OrderFeedDetails {

}

.OrderFeedDetailsNumber {
    display: flex;
    justify-content: center;
    composes: text mb-10 text_type_digits-default from global;
}

.OrderFeedDetailsName {
    composes: text text_type_main-medium from global;
}

.OrderFeedDetailsStatusCreated, .OrderFeedDetailsStatusPending, .OrderFeedDetailsStatusDone {
    composes: text text_type_main-small mt-3 mb-15 from global;
}

.OrderFeedDetailsStatusDone {
    color: #00cccc;
}

.orderFeedDetailsIngredients {
    max-height: 240px;
    overflow-y: auto;
    composes: text text_type_main-small mt-6 pr-6 from global;
}

.orderFeedDetailsInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    composes: mt-10 from global;
}

.orderFeedDetailsInfoDate {
    composes: text text_type_main-default text_color_inactive from global;
}

.orderFeedDetailsInfoPrice {    
    display: flex;
    align-items: center;
    gap: 4px;
    composes: text text_type_digits-default from global;
}